*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.container{
    width:100vw;
    height:100vh;
    background-image: url(images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}

.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top:30%;
    position: relative;
    transform: translateY(-50%);
    color: #fff;
}

.content h1 {
    font-size: 64px;
    font-weight: 500;

}

.content h1 span {
    color:#ff375f;
}

.content button {
    background: transparent;
    border:2px solid #fff;
    outline:none;
    padding:12px 25px;
    color:#fff;
    margin-top: 30px;
    cursor: pointer;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;

}

.rocket {
    width:250px;
    position: absolute;
    right:10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom:0;
        opacity:0;
    }
    100%{
         bottom:105%;
        opacity:1;
    }
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .rocket {
    width: 150px;
    right: 2%;
  }

  .launch-time div p {
    font-size: 2.3rem;
    margin-bottom: 1rem
  }

  .content button {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .content {
    top: 40%;
  }

  .content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .launch-time {
    justify-content: center;
  }

  .launch-time div {
    flex-basis: 60px;
  }

  .launch-time div p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .rocket {
    width: 120px;
  }
}